.Tile{
    height: 80px;
    width: 80px;
    border-radius: 8px;
    box-shadow: 3px 3px 4px #ccc;
    border: 2px solid #6c6c6c;
    display: inline-block;
    margin: 3px;
    padding: 0px;
    overflow: hidden;
}

.Tile .TileImg{
    background-color: #6c6c6c;
    max-width: 100%;
    overflow: hidden;
}
.Tile .TileImg img{
    max-width: 100%;
    height: auto;
}
.Tile .TileCover{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    background-color: #6c6c6c;
    position: relative;
    top: -83.5px;
    left: 0px;
    z-index: 2;
    transition: background-color 0.4s;
    
}
div.Tile.open div.TileCover{
    background-color: transparent;
}

div.Tile.finalOpen div.TileCover{
    background-color: transparent;
}
